@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
   
</hgroup>

<article>
    <div class="con">
        <div class="container">
            <div class="row">
                <center>
                    <img class="img-thumbnail" src="http://www.cfins.org/images/about.jpg">
                </center>
            </div>
            <br><br>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p><b>The Colombo Friend-in-Need Society (CFINS)</b> is the oldest Charitable Organisation in Sri Lanka. Established originally in the year 1831 under the Patronage of then Governor Sir Edward Barnes, the Society has now completed over 175 years of service to the people of Sri Lanka. The CFINS has continued to this day the tradition of having the country’s Head of State as its ex-officio Patron. It’s activities are managed and directed by a Board of Management consisting entirely of volunteers among whom are several leading members of the Medical Profession, Engineers, Company Directors and Executives from the Corporate Sector.</p>
                    <p>The Jaipur Foot Programme, administered by CFINS, is the main provider of prosthetic limbs and orthotic appliances to disabled persons in Sri Lanka. It runs a prosthetic/orthotic Workshop in central Colombo, where disabled persons come in to get custom-fitted artificial limbs, developed under the Jaipur foot technique, to give them a new lease of life.</p>
                    <p>Today The CFINS’s Limb-fitting Centre has become a one- stop service facility for all disabled persons who require prosthetic, orthotic and orthopaedic appliances to overcome their disabilities. Amputees from areas outside Colombo are provided free board and lodging in the Transit Hostel run by the CFINS, to enable them to stay in the premises until their limbs are fabricated, fitted and aligned and they are trained to use them. It is a unique and complete package of services no other Institution in Sri Lanka can provide.</p>
                    <p>Through this service, CFINS endeavours to improve the quality of life and advance the rights of physically handicapped and disabled persons by.</p>
                </div>
            </div>
        </div></div>
      
</article>

<aside>
    <h3>More Links</h3>
    <p>
        use these linkes for additional details
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>