@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    
</hgroup>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div id="google-map" class="embed-responsive" alt="Responsive image">
                <iframe src="https://www.google.com/maps/embed/v1/place?q=Friend%20in%20need%20society%2CSir%20James%20Pieris%20Mawatha%2C%20Colombo%2C%20Western%20Province%2C%20Sri%20Lanka&key=AIzaSyChYthwsXPLNOdNZ8_KTy2FWR3i9kKKa1Y" width="1400" height="400" frameborder="0" style="border:0"></iframe>
            </div>
        </div>
        <div class="col-md-4">
            <form>
                <legend><span class="glyphicon glyphicon-globe"></span> Our office</legend>
                <address>
                    <strong>The Colombo Friend-In-Need Society.</strong><br>
                    No. 171, Sir James Pieris Mawatha,<br>
                    Colombo 2,<br>
                    Sri Lanka<br>
                    <abbr title="Phone">
                        Hotine:
                    </abbr>
                    +94 11 2421651<br>
                    <abbr title="Phone">
                        Fax:
                    </abbr>
                    +94 11 2544992
                </address>
                <address>
                    <strong>Email</strong><br>
                    <a href="mailto:#">cfins@sltnet.lk</a>
                </address>
                <br>
                <legend><span class="glyphicon glyphicon-share"></span> Follow Us On</legend>

                <div class="row social" id="socialM">
                    <div class="col-sm-offset-1">

                        <div class="col-md-1">
                            <a target="_blank" href="https://www.facebook.com/ColomboFriendInNeedSociety"> <i class=" fa fa-facebook">   </i> </a>
                        </div>
                        <div class="col-md-1">
                            <a href="#"> <i class="fa fa-twitter">   </i> </a>
                        </div>
                        <div class="col-md-1">
                            <a href="#"> <i class="fa fa-google-plus">   </i> </a>
                        </div>
                        <div class="col-md-1">
                            <a href="#"> <i class="fa fa-youtube">   </i> </a>
                        </div>
                    </div>
                </div>

                <!--  <ul class="social" id="socialM" style="list-style-type: none;">
                             <li> <a target="_blank" href="https://www.facebook.com/ColomboFriendInNeedSociety"> <i class=" fa fa-facebook">- Facebook</i> </a> </li>

                             <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                             <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                             <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>

                         </ul> -->
            </form>
        </div>
    </div>
</div>

<br><br />

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>425.555.0100</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>425.555.0199</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:Support@example.com">Support@example.com</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:Marketing@example.com">Marketing@example.com</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:General@example.com">General@example.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        One Microsoft Way<br />
        Redmond, WA 98052-6399
    </p>
</section>