@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <center>
        <iframe style="width:85%; height:720px;" onload="hideLoading()" scrolling="yes" marginheight="0" src="http://facebookgalleria.com/gallery.php?id=ColomboFriendInNeedSociety&rows=20&margin=10&cols=1&width=200&title_color=000000&hide_next_back=0&share_buttons=1&shape=rectangle&frame=1" frameborder="0"></iframe>
    </center>
</div>

